.text-overflow() {
    -o-text-overflow: ellipsis; // Only Opera needs the vendor prefix. IE7+, Safari and FF7+ already support it
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.transition(@trans) {
    -webkit-transition: @trans;
    -moz-transition: @trans;
    -ms-transition: @trans;
    -o-transition: @trans;
    transition: @trans;
}

.opacity(@opacity) when (@opacity < 1.0){
    opacity: @opacity;
    @ie-opacity: round(@opacity * 100);
    filter: ~"alpha(opacity=@{ie-opacity})"; // IE8
}

// IE renders text without anti-aliasing when using filter: alpha(opacity=100)
.opacity(@opacity) when (@opacity >= 1.0){
    opacity: @opacity;
    filter: none; // IE8
}

#inbox-pull-requests {
    position: relative;

    .aui-badge {
        .opacity(0);
        .transition(opacity 0.5s ease-in-out);
        background-color: #d04437;
        color: #ffffff;
        padding: 3px 2px 2px 2px;
        position: absolute;
        right: 0;
        top: 4px;

        &.visible {
            .opacity(1.0)
        }
    }
}

#inbox-pull-request-table {
    table-layout: fixed;
    width: 100%;

    .project, .repository, .title, .id, .updated, .commentCount, .author, .reviewers {
        width: auto;
    }

    .repository {
        .text-overflow();
        width: 130px;
    }

    .author {
        width: 40px;

        > div {
            width: 24px;
            overflow: hidden;
        }
    }

    .reviewers {
        width: 240px;
    }

    ~ .spinner {
        width: 32px;
        height: 32px;
        margin: 48px auto 0;
    }
}

#inline-dialog-inbox-pull-requests-content.aui-inline-dialog .contents {
    max-height: 480px;
    overflow: auto;
    padding: 0;

    > h2 {
        padding: 10px 20px;
        border-bottom: 1px solid #CCC;
    }

    > .inbox-table-wrapper {
        max-height: 400px;
        overflow: auto;
        padding: 10px 20px 20px 20px;
    }

    > .dialog-message {
        margin: 20px auto;
    }

    .no-results.pull-request-table-message {
        margin-top: 10px;
        color: #999;

        > h3 {
            margin-top: 10px;
        }
    }
}

#inline-dialog-inbox-pull-requests-content .author > span {
    width: 20px;
}

#inline-dialog-inbox-pull-requests-content .commentCount,
#inline-dialog-inbox-pull-requests-content .source,
#inline-dialog-inbox-pull-requests-content .destination,
#inline-dialog-inbox-pull-requests-content .updated {
    display: none;
}
